@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

body {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('D:\Periskope\FE\peri-app\bg.png');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 1rem;
}

h1 {
  color: #000000;
}

p {
  color: #000000;
}
